<div class="home_info">
  <h1>Rain Logs
  </h1>
  <div class="explanation">
    Rain Logs lets you track the rainfall over the past day and past week at addresses you save. It was originally created as a way for construction companies to see how much rain gathered at their construction sites.
  </div>
</div>
<div class="home_image">
</div>