<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    <h1>Rain Logs
    </h1>
    <div>
      Rain Logs lets you track the rainfall over the past day and past week at addresses you save. It was originally created as a way for construction companies to see how much rain gathered at their construction sites.
    </div>
</html>
